<footer th:fragment="footer">
  <script th:src="@{/assets/js/jquery-3.6.0.min.js}"></script>
  <!-- jquery ui-->
  <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
  <!-- Bootstrap js-->
  <script th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap/bootstrap-notify.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap/popper.min.js}"></script>
  <!-- feather icon js-->
  <script th:src="@{/assets/js/feather/feather.min.js}"></script>
  <script th:src="@{/assets/js/feather/feather-icon.js}"></script>
  <!-- Lazyload Js -->
  <script th:src="@{/assets/js/lazysizes.min.js}"></script>
  <!-- Slick js-->
  <script th:src="@{/assets/js/slick/slick.js}"></script>
  <script th:src="@{/assets/js/slick/slick-animation.min.js}"></script>
  <script th:src="@{/assets/js/slick/custom_slick.js}"></script>
  <!-- Auto Height Js -->
  <script th:src="@{/assets/js/auto-height.js}"></script>
  <!-- WOW js -->
  <script th:src="@{/assets/js/wow.min.js}"></script>
  <script th:src="@{/assets/js/custom-wow.js}"></script>
  <!-- script js -->
  <script th:src="@{/assets/js/script.js}"></script>
  <script>
    let detail = document.getElementsByClassName("delivery-detail")[0];
    let option = document.getElementsByClassName("user-box-name")[0];
    if(detail.innerHTML){
      option.style.display = "none";
    }
  </script>
</footer>