<div th:fragment="mobie">
  <div class="mobile-menu d-md-none d-block mobile-cart">
    <ul>
      <li class="active">
        <a href="index.html">
          <i class="iconly-Home icli"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="mobile-category">
        <a href="javascript:void(0)">
          <i class="iconly-Category icli js-link"></i>
          <span>Category</span>
        </a>
      </li>
      <li>
        <a href="cart.html">
          <i class="iconly-Bag-2 icli fly-cate"></i>
          <span>Cart</span>
        </a>
      </li>
    </ul>
  </div>
</div>